<div class="menu">
  <h2>
    All tasks
  </h2>

  <p class="task-preview">
    <span>{{inputText}}</span>
  </p>

  <p class="add-task">
    <input type="text" placeholder="task name..." class="task-input" [(ngModel)]="inputText">
    <input type="submit" class="btn add-btn" [value]="btnText" (click)="addTask()">
  </p>
</div>

<ol>
  <li *ngFor="let task of tasks" class="task">
    {{task}}
    <input type="button" class="btn change-status-btn" value={{statusBtnText}}
           (click)="changeTaskStatus($event)">
  </li>
</ol>
