.btn {
  border: none;
  padding: 5px;
  outline: 0;
  cursor: pointer;
}

.change-status-btn {
  color: #ffffff;
  background-color: red;
}

.task {
  margin: 5px 0;
}

.add-to-favorite-btn {
  border: 1px solid;
  background-color: #FFFFFF;
}
