html {
  width: 100%;
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.wrap {
  width: 1180px;
  margin: auto;
}

h1,h2 {
  text-align: center;
}

h5 {
  margin: 0;
  padding: 10px 0 5px;
}

.laureates-list {
  margin-top: 20px;
  padding-top: 10px;
  max-height: 75vh;
  overflow-y: scroll;
}

.popup-wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(127,127,127, .5);
}

.popup-content-wrap {
  width: 500px;
  height: 350px;
  background-color: #FFF;
  padding: 15px;
  border-radius: 4px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.hidden {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  vertical-align: top;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 0 10px 10px 0;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #EAEAEA;
  position: relative;
}

li strong {
  display: block;
  color: #0A0;
}

.buttons {
  padding-top: 10px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.buttons button {
  display: inline-block;
  width: calc(50% - 10px);
}

.form-group {
  padding-top: 10px;
}

.form-group > * {
  display: block;
  width: 100%;
}

.form-group > label {
  padding: 10px 0;
}

.form-group > input {
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid #ABABAB;
}

.form-group > button {
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid #ABABAB;
  cursor: pointer;
}

.form-group.contains-btn {
  padding-top: 20px;
}
